{% extends 'tracker/base.html' %}

{% block body %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <h1>Login</h1>
            {{ form.errors }}
            
            <form method="post">{% csrf_token %}
                <!-- Username input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="id_username" type="text" placeholder="name@example.com"
                        name="username"    
                        data-sb-validations="required,email" />
                    <label for="id_username">Username</label>
                </div>
                <!-- Password input-->
                <div class="form-floating mb-3">
                    <input class="form-control" id="id_password" type="password"
                        data-sb-validations="required,email" name="password" />
                    <label for="id_password">Password</label>
                </div>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</section>

{% endblock %}