{% extends 'base.html' %}
{% block body %}
    <!-- Page Content-->
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Experience Section-->
                <section>
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                        <!-- Download resume button-->
                        <!-- Note: Set the link href target to a PDF file within your project-->
                        <a class="btn btn-primary px-4 py-3" href="https://www.canva.com/design/DAFnxj12zDw/vsZnncfBpP8Z1v-g3S936A/view?utm_content=DAFnxj12zDw&utm_campaign=designshare&utm_medium=link&utm_source=publishsharelink">
                            <div class="d-inline-block bi bi-download me-2"></div>
                            Download Resume
                        </a>
                    </div>
                    {% for experience in experiences %}
                    <!-- Experience Card -->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">
                                            {{ experience.start_date|date:"M Y" }} - 
                                            {% if experience.still_work_here %}
                                                Present
                                            {% else %}
                                                {{ experience.end_date|date:"M Y" }}
                                            {% endif %}
                                            {% if experience.is_seasonal %}
                                                <span>(Seasonal)</span>
                                            {% endif %}
                                        </div>
                                        <div class="small fw-bolder">{{ experience.position }}</div>
                                        <div class="small text-muted">{{ experience.company }}</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        {{ experience.description|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <!-- Experience Card empty-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-primary fw-bolder mb-2">&nbsp;</div>
                                        <div class="small fw-bolder">&nbsp;</div>
                                        <div class="small text-muted">&nbsp;</div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        No experience has been uploaded.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
                <!-- Education Section-->
                <section>
                    <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                    {% for education in education_list %}
                    <!-- Education Card -->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">
                                            {{ education.start_date|date:"M Y" }} -
                                            {% if education.still_in_progress %}
                                                Present
                                            {% else %}
                                                {{ education.end_date|date:"M Y" }}
                                            {% endif %}
                                        </div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">{{ education.institution }}</div>
                                            <div class="small text-muted">{{ education.location }}</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">{{ education.award }}</div>
                                            <div class="small text-muted">{{ education.course }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        {{ education.description|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <!-- Education Card empty-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            <div class="row align-items-center gx-5">
                                <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                    <div class="bg-light p-4 rounded-4">
                                        <div class="text-secondary fw-bolder mb-2">&nbsp;</div>
                                        <div class="mb-2">
                                            <div class="small fw-bolder">&nbsp;</div>
                                            <div class="small text-muted">&nbsp;</div>
                                        </div>
                                        <div class="fst-italic">
                                            <div class="small text-muted">&nbsp;</div>
                                            <div class="small text-muted">&nbsp;</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        No education has been uploaded.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
                <!-- Divider-->
                <div class="pb-5"></div>
                {% if skills or languages %}
                <!-- Skills Section-->
                <section>
                    <!-- Skillset Card-->
                    <div class="card shadow border-0 rounded-4 mb-5">
                        <div class="card-body p-5">
                            {% if skills %}
                            <!-- Professional skills list-->
                            <div class="mb-5">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    {% for skill in skills %}
                                        {% if forloop.counter|divisibleby:3 %}
                                            <div class="col">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ skill.name }}</div>
                                            </div></div>
                                            {% if forloop.counter != skills.count %}
                                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            {% endif %}
                                        {% else %}
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ skill.name }}</div></div>
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            {% endif %}
                            {% if languages %}
                            <!-- Languages list-->
                            <div class="mb-0">
                                <div class="d-flex align-items-center mb-4">
                                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                </div>
                                <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    {% for language in languages %}
                                        {% if forloop.counter|divisibleby:3 %}
                                        <div class="col">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ language.name }}</div>
                                        </div>
                                    </div>
                                            {% if forloop.counter != languages.count %}
                                            <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            {% endif %}
                                        {% else %}
                                            <div class="col mb-4 mb-md-0">
                                                <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{ language.name }}</div>
                                            </div>
                                            {% if forloop.counter == languages.count %}
                                            </div>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </section>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}