{% extends 'tracker/base.html' %}
{% load static %}
{% block active %}active{% endblock %}

{% block aria_current %}aria-current="page"{% endblock %}

{% block custom_style %}
<link href="{% static 'tracker/home.css' %}" rel="stylesheet">
<style>
    .home-bg {
        background-image: url("{% static 'tracker/images/ksenia-yakovleva-YT6COuf1gY0-unsplash.jpg'%}");
    }
</style>
{% endblock %}
{% block body %}
<main class="px-3 home-bg">
    <h1>Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit
        the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>
{% endblock %}
{% block white_footer %}
text-white-50
{% endblock %}

