{% extends 'tracker/base.html' %}
{% load static %}
{% block active %}active{% endblock %}

{% block aria_current %}aria-current="page"{% endblock %}

{% block custom_style %}
<link href="{% static 'tracker/home.css' %}" rel="stylesheet">
<style>
    .home-bg {
        background-image: url("{% static 'tracker/images/ksenia-yakovleva-YT6COuf1gY0-unsplash.jpg'%}");
    }
</style>
{% endblock %}
{% block body_class %}h-100 d-flex text-center bg-gray"{% endblock %}
{% block body %}
<main class="px-3 home-bg">
    <h1>PRESCRIPTION TRACKER</h1>
    <p class="lead lead_bg">A prescription tracker where you will be able to create, view, update, and delete prescriptions, set reminders for
    medication intake, and track your prescription renewals</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
    </p>
</main>
{% endblock %}
{% block white_footer %}
text-white-50
{% endblock %}

