{% extends 'tracker/base.html' %}

{% block body %}

<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                        class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">Sign Up</h1>
                <p class="lead fw-normal text-muted mb-0">Track your prescriptions!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form method="post">{% csrf_token %}
                        {% for field in form %} 
                        <div class="form-floating mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                        {% endfor %}
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton"
                                type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}