{% extends 'tracker/base.html' %}

{% block body %}
<section class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i
                        class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">UPDATE PRESCRIPTION</h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    You have used {{ reminder.prescription.dosage }} {{ reminder.prescription.dosage_unit }} of
                    {{ reminder.prescription.name }} {{ reminder.prescription.frequency }} times a
                    {{ reminder.prescription.frequency_period }} scheduled for {{ reminder.prescribed_time}} &nbsp; | &nbsp;
                    {% if reminder.administered %}
                    <a class="btn btn-primary" href="{% url 'tracker:reminder-discard' reminder.pk %}">I DID NOT</a>
                    {% else %}
                    <a class="btn btn-primary" href="{% url 'tracker:reminder-use' reminder.pk %}">I DID</a>
                    {% else %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}